.p,
.q1,
.m {
    color: rgb(3, 3, 27);
    font-size: small;
}

.v {
    margin-right: 5px;
    font-weight: 900;
    color: rgb(26, 135, 238);
}

.q1 {
    font-style: italic;
}

button {
    cursor: pointer;
}

.pagenav:hover {
    text-decoration: underline;
}

.copybtn:hover {
    text-decoration: underline;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}